header.Header
    nav.NavBar
        .Container
            a.Branding(href='/') MVC Auth
            div.List
                if user
                    p.UserInfo #{user.name}
                    a.ListItem(href='/auth/logout') Logout
                else
                    a.ListItem(href='/login') Login
                    a.ListItem(href='/signup') Sign Up
                
