extends base

block content

    .Hero
        .HeroHeader Welcome to the MVC Auth Demo
        p.HeroText A Simple Auth Demo, Using the Model-View-Controller Project Structure
        .HeroActions
            a.Btn.BtnPrimary.HeroButton(href='/signup') Get Started
            a.Btn.BtnTertiary.HeroButton(href='https://www.github.com/unsivilaudio/mvc-auth', target='_blank') Github