extends base

block content

    .Form.Auth
        header.FormHeader Welcome Back to MVC Auth
        form.FormControl(action="/auth/login" method="post")
            .FormGroup
                label.FormLabel(for="email") Email
                input.FormInput(type="email" id="email" name="email")
            .FormGroup
                label.FormLabel(for="password") Password
                input.FormInput(type="password" id="password" name="password")
            .FormActions
                button.Btn.BtnTertiary.FormButton(type="submit") Log In
                a.FormSwitch(href="/signup") Not A Member Yet? Switch to sign up.
