extends base

block content

    .Form.Auth
        header.FormHeader Sign Up To MVC Auth
        form.FormControl(action="/auth/signup" method="post")
            .FormGroup
                label.FormLabel(for="name") Name
                input.FormInput(type="name" id="name" name="name")
            .FormGroup
                label.FormLabel(for="email") Email
                input.FormInput(type="email" id="email" name="email")
            .FormGroup
                label.FormLabel(for="password") Password
                input.FormInput(type="password" id="password" name="password")
            .FormGroup
                label.FormLabel(for="places") Location
                input.FormInput(type="text" id="places" name="places")
            .FormActions
                button.Btn.BtnTertiary.FormButton(type="submit") Sign Up
                a.FormSwitch(href="/login") Already A Member? Switch to log in.
