$color-white: #efefef;
$color-black: #0f1117;

$color-primary-light: #2dbbef;
$color-primary-dark: #2d3bff;

$color-secondary-light: #f5b556;
$color-secondary-dark: #da9328;

$color-tertiary-light: #fe3add;
$color-tertiary-dark: #a53893;

$color-grey-light-1: #e8e8eb;
$color-grey-light-2: #e0e1e4;
$color-grey-light-3: #d4d5d9;
$color-grey-light-4: #c4c5c9;

$color-grey-dark-1: #6e737b;
$color-grey-dark-2: #434953;
$color-grey-dark-3: #2a313a;
$color-grey-dark-4: #191c22;

$btn-shadow-primary: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
$btn-shadow-active: 0 2px 7px 1px rgba(0, 0, 0, 0.15);

$shadow-dark: 2px 2px 3px #333;
$shadow-light: 2px 2px 3px #aaa;
